---
layout: default
---

{% for post in site.posts limit:3 %}
  {% if post.categorie contains 'blog' %}
{% assign months = "Januar|Februar|März|April|Mai|Juni|Juli|August|September|Oktober|November|Dezember" | split: "|" %}
{% assign m = post.date | date: "%-m" | minus: 1 %}
{% assign day = post.date | date: "%d" %}
{% assign month = months[m] %}
{% assign year = post.date | date: "%Y" %}

<a href="{{ post.url }}">
    <div class="index-img image-with-text" style="background-image: url('{{ post.image }}')">
   		 <div class="text-on-image">
	        <h3>{{ day }}. {{ month }} {{ year }}</h3>
	        <h1>{{ post.title }}</h1>
	        <h2>{{ post.subtitle }}</h2>
		  </div>
    </div>
  </a>
   {% endif %}
{% endfor %}
