@charset "utf-8";
@import "normalize";

// colors
$background-dark: #00272D;
$background-bright: #fbfbfb;
$font-dark: #00272D;
$font-bright: #fbfbfb;



// header
header {
  height: 50px;
  background-color: $background-bright;
  margin: 0 auto;
  width: 1020px;
  font-size: 1.25em;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}




header ul {
  display: flex;
}

.site-title {
  font-weight: 800;
  
}


.header-menu {

}



// footer
footer {
  background: $background-dark;
}






body {
  background: $background-bright;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

h1 {
  color: $font-dark;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
}

h2 {
  color: $font-dark;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  color: $font-dark;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 400;
}


a {
    text-decoration: none;
    color: $font-dark;
&:hover {
      color: $font-dark;
      border-bottom: 2px solid $font-dark;
      padding-bottom: 10px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
