<header class="header">
    <h1 class="header-title">
      <a href="/">immer gutes wetter</a>
    </h1>
  <div class="header-subtitle">
    <h3>Willkommen auf unserem Blog.</h3>
  </div>
  <nav class="header-nav">
    <a href="/about">über uns</a>
    <a href="/archiv">blog-archiv</a>
    <a href="/mehr">weitere themen</a>
    <a href="https://www.instagram.com/immerguteswetter/" target="_blank">instagram</a>
    <a href="/location">wo wir sind</a>
  </nav>
    <div class="line"></div>
</header>
