@import 'normalize.css';
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

:root {
  font-size: 16px;
}

body {
  font-family: monospace;
  color: black;
}
.site {
  /*align-items: center;*/
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.site-content {
  flex: 1;
}

p {
  line-height: 1.75;
  hyphens: auto;
}

main {
  width: 90%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: orange;
}

/*header*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em auto;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.header-title {
  border: 3px solid;
  padding: 1em;
  font-size: 1.3em;
}

.header-subtitle {
  margin-top: -1em;
}

.header-subtitle h3 {
  font-size: 1em;
}

.header-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 2em 1em 2em;
  width: 90%;
}

.header-nav a {
  margin-bottom: 0.5em;
}

@media (--breakpoint-sm) {
  .header-title {
    font-size: 2em;
  }

  .header-nav {
    justify-content: space-around;
    flex-direction: row;
    padding: 4em 2em 1em 2em;
  }

}

.line {
  border-bottom: 1px #000 solid;
  width: 100%;
}



/*
  Index
*/
.index-img {
  height: 40em;
  margin-bottom: 2em;
  background-size: cover;
}

.text-on-index-image {
  position: absolute;
  color: black;
  background-color: white;
  padding: 1em;
  margin: 25em 2em;
  opacity: 0.75;
}



/*
posts
*/
.image-with-text {
  position: relative;
  width: 100%;
}

.image-with-text img{
  width: 100%;
  height: auto;
}

.text-on-image {
  position: absolute;
  bottom: 2em;
  left: 2em;
  color: black;
  background-color: white;
  padding: 1em;
  opacity: 0.75;
}

.post p {
  width: 75%;
  margin: 1em auto;
}

.post p:first-child {
  margin-top: 2em;
}


.post p:first-child::first-letter {
  float: left;
  font-size: 5em; 
  line-height: 0.75em; 
  padding-right: 0.1em; 
}

.container-gallery {
  flex-flow: row wrap;
  display: flex;
  margin: 2em 0;
}

.container-gallery div {
  flex: auto;
  width: 300px;
  margin: .5vw;
}

.container-gallery div img {
  width: 100%;
  height: auto;
}



/*
Archiv
*/
.container-archiv {
  flex-flow: row wrap;
  display: flex;
  margin: 2em 0;
}

.container-archiv div {
  flex: auto;
  width: 300px;
  margin-right: .5vw;
}

.container-archiv div img{
  width: 100%;
  height: auto;
}



/*
more
*/
.themes-more {
  margin-bottom: 5em;
}

.themes-more img {
  width: 400px;
}





/*about*/
.img-about-left {
  margin: 0 2em 2em 0;
  float: left;
  width: 350px;
}

.img-about-right {
  margin: 0 0 2em 2em;
  float: right;
  width: 350px;
}

/*
kontakt
*/
.img-kontakt {
  width: 30em;
}

.img-kontakt img {
  width: 100%;
  margin: 0 auto;
}


.text-kontakt {
  width: 75%;
  margin: 1em auto;
}


/*
footer
*/
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3em 4em;
  margin-top: 2em;
}

footer a {
  color: white;
}