@import 'normalize.css';
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

:root {
  font-size: 16px;
}

body {
  font-family: monospace;
  color: #333;
}
.site {
  /*align-items: center;*/
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.site-content {
  flex: 1;
}

p {
  line-height: 1.5;
  hyphens: auto;
}
p a {
  text-decoration: underline;
}

main {
  width: 90%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: orange;
}

/*
header
*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em auto;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.header-title {
  border: 3px solid;
  padding: 1em;
  font-size: 1.3em;
}

.header-subtitle {
  margin-top: -1em;
}

.header-subtitle h3 {
  font-size: 1em;
}

.header-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1em 1em 1em;
}

.header-nav a {
  margin-bottom: 0.5em;
}

@media (--breakpoint-sm) {
  .header-title {
    font-size: 2em;
  }

  .header-nav {
    justify-content: space-around;
    flex-direction: row;
    padding: 4em 0 1em 0;
    width: 100%;
  }

}

.line {
  border-bottom: 1px #000 solid;
  width: 100%;
}

/*
  Page layout
*/
img {
  max-width: 100%;
}
figure {
  margin: 0;
}

.page {
  max-width: 35em;
  margin: 0 auto;
  font-family: Palatino;
}
@media (--breakpoint-md) {
  .page {
    font-size: 1.3em;
  }
}
.page figure {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.page p {
  margin-bottom: 2em;
}
.page p:last-child {
  margin-bottom: 0;
}

/*
  Index
*/
.index-img {
  height: 40em;
  margin-bottom: 2em;
  background-size: cover;
}

.text-on-index-image {
  position: absolute;
  color: black;
  background-color: white;
  padding: 1em;
  margin: 25em 2em;
  opacity: 0.75;
}



/*
posts
*/
.image-with-text {
  position: relative;
  width: 100%;
}

.image-with-text img{
  width: 100%;
  height: auto;
}

.text-on-image {
  position: absolute;
  bottom: 2em;
  left: 2em;
  color: black;
  background-color: white;
  padding: 1em;
  opacity: 0.75;
}

.post p {
  width: 75%;
  margin: 1em auto;
}

.post p:first-child {
  margin-top: 2em;
}


.post p:first-child::first-letter {
  float: left;
  font-size: 5em; 
  line-height: 0.75em; 
  padding-right: 0.1em; 
}

.container-gallery {
  flex-flow: row wrap;
  display: flex;
  margin: 2em 0;
}

.container-gallery div {
  flex: auto;
  width: 300px;
  margin: .5vw;
}

.container-gallery div img {
  width: 100%;
  height: auto;
}



/*
Archiv
*/
.archive {
  display: flex;
  flex: column;
}
.archive-section-header {
  margin-bottom: 0.5em;
}
.archive-month {
  display: flex;
  flex-wrap: wrap;
}
.archive-post {
  max-width: 15em;
  padding-right: 2em;
}
.archive-post:last-child {
  padding-right: 0;
}
.archive-post img {
  width: 100%;
  height: auto;
}
.archive-post-title {
  margin-top: 0.5em;
  margin-bottom: 2em;
}


/*
more
*/
.themes-more {
  margin-bottom: 5em;
  margin-top: 3em;
}

.themes-more img {
  width: 400px;
}

.about-signatur {
  
}


/*
footer
*/
footer a {
  color: white;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 4em;
  margin-top: 2em;
  line-height: 2em;
}

@media (--breakpoint-md) {
footer {
  flex-direction: row;
  justify-content: space-between;
  padding: 3em 4em;
}
}