<header>
	<div class="title-header">
					<%= link_to 'Löwenzähnen leicht gemacht', '/index.html' %>
	</div>

	<div class="menu-header">
					<%= link_to 'über uns', '/about.html' %>
					<%= link_to 'mehr infos', '/mehr.html' %>
	</div>
</header>
