<header>
					<h1 class="site-title">
							<a href="" rel="home">Löwenzähnen leicht gemacht</a>
					</h1>


				<ul class="header-menu">
          <li><a href="">über uns</a></li>
          <li><a href="">mehr infos</a>
        </ul>
</header>
