---
layout: index
---

<% blog.articles[0...7].each do |article| %>
  <article>
    <h1 class="title-post-index">
      <a href="<%= article.url %>"><%= article.title %></a>
    </h1>

    <h3 class="subtitle-post-index">
       <%= article.data.subtitle %></a>
    </h3>

    <time><%= article.date.strftime('%b %e %Y') %></time>

  </article>
<% end %>
